.project-card {
    background-color: #1f283370;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
  }
  
  .project-card:hover {
    transform: scale(1.05);
  }
  
  .project-card h3 {
    text-align: center;
    color: #66FCF1;
    margin-top: 0;
  }
  
  .project-card a {
  color: #66FCF1;
  text-decoration: none;
   border-radius: 10px;
   background-color: #1f2833c2;
   padding: 10px;
   display: flex;
   width: fit-content;
   align-items: center;
  }
  
  .project-card a:hover {
    transform: scale(1.1);
  }
  