.projects-main-section {
    padding: 20px;
  }
  
  .projects-section-intro {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .projects-section-intro h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  .projects-section-intro p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .projects-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  @media (max-width: 768px) {
    .projects-section-intro h1 {
        font-size: 2em; /* Decrease font size for smaller screens */
    }

    .projects-section-intro p {
        font-size: 1em; /* Decrease font size for smaller screens */
    }
}