.about-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    color: #ffffff;
  }
  
  .about-left-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.5em;
  }
  .about-me-section p{
    font-size: 1.2em;
  }
  .about-me-section {
    text-align: center;
    margin: 20px;
  }
  
  .about-me-section h3 {
    font-size: 2em;
  }
  
  .name-span {
    color: rgb(82, 22, 138);
  }
  
  .tech-stack-section {
    text-align: center;
    width: 100%;
}

.tech-stack-section h3 {
    font-size: 3em;
    margin-bottom: 20px;
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
  
  .about-right-grid img {
    width: 100%;
    max-width: 500px; /* Adjust the size as needed */
    height: auto;
    border-radius: 10px;
  }