.about-main-container {
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.about-left-grid {
    margin-left: 15%;
    margin-top: 4%;
    flex: 1;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.about-me-p{
    font-size: larger;
}

.about-right-grid {
    flex: 1;
}

.name-span {
    color: blueviolet;
}

.about-me-section {
    flex: 1;
}

.tech-stack-section {
    flex: 1;
    margin-top: 5%;
}
.certificates-stack-section{
    margin-top: 5%;
}