.about-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.about-left-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.about-me-section p {
    font-size: 1.2em;
}

.about-me-section {
    text-align: center;
    margin: 15px;
}

.about-me-section h3 {
    font-size: 2em;
}

.name-span {
    color: #66FCF1;
}

.tech-stack-section {
    text-align: center;
    width: 100%;
}
.certificates-stack-section{
    text-align: center;
    width: 100%;
}
.certificates-stack-section h3{
    font-size: 3em;
    margin-bottom: 10px;
}
.tech-stack-section h3 {
    font-size: 3em;
    margin-bottom: 10px;
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.about-right-grid img {
    width: 100%;
    max-width: 500px;
    /* Adjust the size as needed */
    height: auto;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .about-left-grid {
        font-size: 1.2em; /* Decrease font size for smaller screens */
    }

    .about-me-section p {
        font-size: 1em; /* Decrease font size for smaller screens */
    }

    .about-me-section h3 {
        font-size: 1.5em; /* Decrease font size for smaller screens */
    }

    .tech-stack-section h3 {
        font-size: 2em; /* Decrease font size for smaller screens */
    }
}