.home-section {
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    padding-bottom: 30px;
    padding-top: 30px;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.waving-container {
    display: flex;
    align-items: center;
}

.waving-container span {
    margin-right: 10px;
}

.larger-text,
.name-div {
    font-size: 3em;
}

.name-span {
    color: #66FCF1;
}

.quote-div {
    font-size: 1.2em;
    display: flex;
    align-items: start;
    font-style: oblique;
    flex-direction: column;
}

.quote-div .btn {
    background-color: #1f283370;
    color: #66FCF1;
    padding: 10px 20px;
    border: 2px solid #66FCF1;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.Typewriter__wrapper {
    font-size: 3.5em;
    color: #66FCF1;
    font-weight: 600;
}

.Typewriter__cursor {
    font-size: 3.5em;
}

.left-grid {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 12%;
    padding-left: 20%;
}

.right-grid {
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.right-grid img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    background: none;
}

@media (max-width: 768px) {
    .home-grid {
        grid-template-columns: 1fr;
    }

    .larger-text,
    .name-div {
        font-size: 1.2em;
    }

    .Typewriter__wrapper {
        font-size: 1.5em;
    }

    .left-grid {
        font-size: 1.5em;
        padding-left: 10%;
    }
}