/* Footer Styles */
.footer {
    background-color: rgba(10, 4, 22, 0.345);
    padding-top: 10px;
    padding-bottom: 8px;
    color: #fff;
    text-align: center;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1em;
  }
  
  .footer-section {
    text-align: start;
    flex: 5;
  }
  .footer-section-social{
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-section-social span{
    padding-left: 4px;
    flex:1;
  }
 .footer-section-social a{
    color: inherit;
    text-decoration: none;
 }
  
  .footer-section p {
    margin: 0;
    font-size: 1em;
  }
    
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
    }
  
    .footer-section {
      margin: 1em 0;
    }
  }
  